<h1>How to use ccsubs</h1>

<h2>Requesting coverage</h2>
<ol>
	<li><%= link_to "Sign in", signin_path %>. Your login is the email address you have on record with the Crisis Clinic and your password will have been communicated to you personally by Crisis Clinic staff.</li>
	<li>To create a new request for coverage, click <%= link_to "New request", new_request_path %> in the menu bar at the top of the page.</li>
	<li>Select the date and time of the shift you need coverage for. It's not necessary, but if you have any additional info you wish to share about your request, you can enter it in the "details" box. You definitely don't need to include any information about how to contact you, the shift you need covered, or what shifts you're available to swap for. All that information is handled by the system.</li>
	<li>If there are any shifts you can potentially swap for, either before or after the one you need coverage for, click "Create swap request" and you will be prompted to enter the shifts you are available to swap for. If you can't swap at all, click "Create sub-only request" and you are done.</li>
	<li>After creating a swap request, you will be prompted to enter you swap availability so that the system can help match volunteers with compatible swap needs. In general, the more available shifts you add, the better chances you have of finding a match. Don't worry about adding too much availability; the system will only propose your availability to others for swaps as long as you have outstanding requests for coverage.</li>
	<li>After adding a swap request, you can view it under "Account" > "<%= link_to "My requests", requests_path(owner: current_user) %>" in the menu bar. Click on the date and time of the request to see details of any other volunteers who have availability to swap. If there are any, you can click the "Offer to swap" button and the volunteer will receive an email that will allow them to accept or decline your swap offer. In order to ensure orderly swaps, once an offer has been made to swap for a certain shift, no other offers involiving those volunteers' shifts can be made until the requstest is accepted or declined. When this happens the volunteer who made the request will receive an email notification.</li>
</ol>

<h2>Editing requests</h2>