<% provide(:title, 'Home') %>
<div class="center jumbotron">
  <h1>Welcome to Crisis Clinic Sub/Swap</h1>
  <% if signed_in? %>
  <p>Need someone to take your shift?
    <%= link_to "Create a request", new_request_path %></p>
  <p>Looking for a shift to swap for? <%= link_to "View open requests", requests_path %></p>
  <% else %>
  <%= link_to "Sign in", signin_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>