<% provide(:title, 'Home') %>
<div class="center jumbotron">
  <h1>Welcome to Crisis Clinic Sub/Swap</h1>
  <%= link_to "Sign in", signin_path, class: "btn btn-lg btn-primary" unless signed_in? %>
</div>