<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@request) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= render partial: 'shared/shift_time', locals: {f: f} %>

      <% submit_buttons.each do |submit_button| %>
        <%= submit_button %>
      <% end %>
    <% end %>
  </div>
</div>
