<% provide(:title, 'Choose swap') %>
<h1>Choose swap for <%= @request %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'shared/error_messages' %>

    <%= render(partial: 'offer_swap_form',
               locals: {my_request: @request, requests_to_swap_with: @requests_to_swap_with}) %>
  </div>
</div>
