<% provide(:title, 'Edit request') %>
<h1>Edit Request</h1>

<%= render partial: 'requests/request',
    locals: { submit_buttons: [
    submit_tag('Update my request', class: "btn btn-large btn-primary"),
    ]}
%>
