<% provide(:title, 'Fulfilled Requests') %>

<h1>Upcoming shift changes</h1>

<% if @requests.empty? %>
  <p>There don't appear to be any upcoming shift changes</p>
<% end %>

<div>

  <% [['Today', @today], ['This week', @this_week], ['Later', @later]].each do |range, requests| %>
    <%= render partial: 'request_list', locals: {title: range, requests: requests} %>
  <% end %>

</div>
