<% provide(:title, 'Requests') %>

<h1>Open requests</h1>

<% if current_user.admin? %>
  <% unless params[:past] %>
    <h1>Current requests</h1>
    <%= link_to "Show past requests", past: true %>
  <% else %>
    <h1>Past requests</h1>
    <%= link_to "Show current requests" %>
  <% end%>
<% end %>


<div>
  <%= render partial: 'request_list',
      locals: {title: 'Requests in want of an offer', requests: @requests} %>
</div>
