<% provide(:title, 'Requests') %>

<h1>Open requests</h1>

<h2>There are currently <%= @requests.count %> shifts in need of coverage</h2>
<div>
  <%= render partial: 'request_list', locals: {requests: @requests} %>
</div>
