<% provide(:title, 'Pending Offers') %>

<h1>Pending Offers</h1>

<div>
  <ul class="requests">
    <% if @requests.empty? %>
      <p>You don't have any pending offers. Sorry.</p>
    <% end %>
    <% @requests.each do |req| %>
      <li>
        <%= link_to req, req %>: <%= req.fulfilling_user %> offers to swap for <%= req.fulfilling_swap %>
      </li>
    <% end %>
  </ul>
</div>
