<div class="col-md-8 col-md-offset-2 well">
  <p>
    These shifts have requests who may be able to swap with you.
    Indicate the ones you're available for, then click the "Update" button.
    Shifts for users which are more likely to be able to swap with you
    <span class="match">look like this</span>.
  </p>
</div>
