<div class="col-md-8 col-md-offset-2 alert alert-info">
  These shifts have requests from volunteers who may be able to swap with you.
  Indicate the ones you're available for, then hit the <q>Update</q> button.

  <% if @suggested_availabilities.any?(&:from_default) %>
    <br />
    <br />
    Shifts that <span class="alert-warning">look like this</span>
    have been pre-filled out for you, based on your typical availability.
    Please confirm that these shifts correctly indicate your availability
    before hitting the <q>Update</q> button. If you would like to change your
    default weekly availability, <%= link_to "follow this link", edit_default_availability_path %>.
  <% elsif @suggested_availabilities.any? {|a| a.free.nil? } %>
    You don't have to answer for every shift, but the more you answer, the
    more likely it is that your request will be fulfilled.
    <br />
    <br />
    <strong>If you want to save time when indicating your availability, you can
    <%= link_to "set your typical weekly availability", edit_default_availability_path %>.</strong>
  <% end %>
</div>
