<div class="col-md-8 col-md-offset-2 alert alert-info">
	These shifts have requests from volunteers who may be able to swap with you.
	Indicate the ones you're available for, then click the "Update" button.
  You don't have to answer for every shift, but the more you answer, the
  more likely it is that your request will be fulfilled.
</div>
