<% provide(:title, 'Swap availability') %>

<h1>Your swap availabilty</h1>


<% if @suggested_availabilities.any? %>

  <% if @suggested_availabilities.any? {|a| a.free.nil? } %>
    <h2>These shifts need swaps. Indicate the ones you're available for, then click the "Update" button.</h2>
  <% else %>
    <h2>Congratulations! You've added availability for <strong>all</strong> the open requests.</h2>
  <% end %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <%= form_for(@user, url: update_availability_url(@user)) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= render partial: 'availabilities/suggested',
                   locals: {f: f, availabilities: @suggested_availabilities} %>
        <%= f.submit "Update", class: "btn btn-large btn-primary" %>
      <% end %>

    </div>
  </div>

<% else %>
    <h2>There aren't any other open requests at the moment to add availability for</h2>
<% end %>
