<footer class="footer">
  <small>
    Crisis Connections sub/swap by Jon Bauman
  </small>
  <nav>
    <ul>
      <li>Problems, questions, etc: <%= mail_to "jonccsubs@shumi.org" %>.
      	See also: <%= link_to "known issues", "https://github.com/baumanj/ccsubs/issues" %></li>
    </ul>
  </nav>
</footer>