<footer class="footer">
  <small>
    Crisis Clinic sub/swap by Jon Bauman
  </small>
  <nav>
    <ul>
      <li>Problems, questions, etc: <%= mail_to "jonccsubs@shumi.org" %></li>
    </ul>
  </nav>
</footer>