<% if current_user.swap_candidates.any? %>
  <div class="alert alert-warning">
    <h2>You have swapportunities! Click on your
      <%= "request".pluralize(current_user.swap_candidates.length) %> below.</h2>
    <% current_user.swap_candidates.each do |req| %>
      <p><%= link_to req, req %></p>
    <% end %>
  </div>
<% end %>
