
<table class="month">
  <tr>
    <% first_day_of_week_i = User.first_day_of_week_preferences[current_user.first_day_of_week_preference] %>
    <% Date::DAYNAMES.rotate(first_day_of_week_i).each do |d| %>
      <th class="col-md-1"><%= d %></th>
    <% end %>
  </tr>
  <% date = @date_range.first - (@date_range.first.cwday - first_day_of_week_i) %>
  <% @date_range.map(&:cweek).uniq.each do %>
    <tr>
      <% 7.times do %>
        <td class="day">
          <% if @date_range.include?(date) %>
            <span class="day-number"><%= date.day %></span>
            <%= yield date %>
          <% end %>
        </td>
        <% date += 1 %>
      <% end %>
    </tr>
  <% end %>
</table>
